<div class="background-image"></div>
<div class="padding"></div>

<% @images.each do |image| %>
  <div class="col-md-4 image" style="background: url('<%= image.image_post %>'); background-size: cover;"></div>
<% end %>
