<div class="container" style="margin-top:52px;">
  <div class="col-md-6 col-md-offset-3">
    <h2>Upload Photo</h2>
    <div class="box">
      <%= form_for [@profile, @image] do |f| %>
      <div class="form-group">
          <%= f.label :image_post, class: 'control-label'  %>
          <%= f.file_field :image_post, class: "form-control" %>
      </div>
        <div class="actions">
          <%= f.submit "Upload", class: 'button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
